/* ---------- Reset ---------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    transition: none !important;
    animation: none !important;
    scroll-behavior: auto !important;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica,
    Inter, Arial, "Noto Sans", sans-serif;
  line-height: 1.4;
  font-size: 1.125rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

input {
  border-radius: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

/* ---------- Styles ---------- */

body {
  padding: 2rem;
  color: #111;
  background: #fafafe;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1e1e1f;
    color: #f7f7fa;
  }
}

@media (min-width: 600px) {
  body {
    padding: 3rem;
  }
}

h1 {
  margin-bottom: 1.5rem;
  display: inline-flex;
  gap: 0.75rem;
  align-items: center;
}

h2 {
  margin-block: 3rem 1.5rem;
  font-weight: 500;
}

h1 svg {
  width: 3rem;
  height: 3rem;
}

p {
  margin-block: 1rem;
}

main {
  max-width: 30rem;
  margin: 0 auto;
}

code {
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  color: #349;
  display: inline-block;
  margin-block: -0.05rem;
  padding: 0.05rem 0.5rem;
}

button {
  color: #111;
}

a {
  color: var(--tailor-blue);
}

a:hover {
  color: inherit;
}

.extensions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.extensions img {
  height: 4rem;
  flex: 1;
}

.dummy {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.playground {
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  max-width: 580px;
  margin: 0 auto;
}

.playground-row {
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-inline: -10px;
}

.playground-item {
  flex: 120px 0 1;
  aspect-ratio: 1;
  border: 1px solid #ddd;
  position: relative;
  z-index: 1;
  margin: 10px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
}

.playground-item--mid {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  z-index: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
