/* ---------- Tailor ---------- */

:root {
  --tailor-red: #f14722;
  --tailor-purple: #953edd;
  --tailor-blue: #0b99ff;
  --tailor-green: #00bb70;
  --tailor-light-blue: #46c4ff;
  --tailor-blue-500: rgba(11, 153, 255, 0.5);
  --tailor-blue-50: rgba(11, 153, 255, 0.05);
  --tailor-red-50: rgba(241, 71, 34, 0.05);
  --tailor-black: rgba(0, 0, 0, 0.9);
  --tailor-white: #fff;
}

.__tailor {
  position: fixed;
  display: none;
  pointer-events: none;
  z-index: 10000;
  outline: 1px solid var(--tailor-blue);
  outline-offset: -1px;
  /* Hide main element as well as before/after elements */
  top: -10px;
  left: -10px;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica,
    Inter, Arial, "Noto Sans", sans-serif;
}

.__tailor--measuring {
  background-color: var(--tailor-blue-50);
}

.__tailor--measuring .__tailor-padding,
.__tailor--measuring .__tailor-margin {
  display: none;
}

.__tailor--measuring .__tailor-ruler,
.__tailor--measuring .__tailor-ruler-helper {
  display: block;
}

/* ----- Guides ----- */

.__tailor::before,
.__tailor::after {
  content: "";
  position: absolute;
  border: 1px dotted var(--tailor-blue-500);
}

.__tailor::before {
  height: 250vh;
  width: 100%;
  left: 0;
  top: -100vh;
}

.__tailor::after {
  width: 250vw;
  height: 100%;
  top: 0;
  left: -100vw;
}

/* ----- Padding ----- */

.__tailor-padding {
  width: 100%;
  height: 100%;
  position: relative;
  outline: 1px dotted var(--tailor-green);
  outline-offset: -1px;
}

/* ----- Padding labels ----- */

.__tailor-padding-label {
  background-color: var(--tailor-green);
  color: white;
  padding: 1px 3px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
}

.__tailor-padding-label--bottom,
.__tailor-padding-label--top {
  left: 50%;
  transform: translateX(-50%);
}

.__tailor-padding-label--top {
  bottom: 100%;
}

.__tailor-padding-label--bottom {
  top: 100%;
}

.__tailor-padding-label--left,
.__tailor-padding-label--right {
  top: 50%;
  transform: translateY(-50%);
}

.__tailor-padding-label--right {
  left: 100%;
}

.__tailor-padding-label--left {
  right: 100%;
}

/* ----- Margin ----- */

.__tailor-margin {
  position: fixed;
  outline: 1px dotted var(--tailor-purple);
  outline-offset: -1px;
}

/* ----- Margin labels ----- */

.__tailor-margin-label {
  background-color: var(--tailor-purple);
  color: white;
  padding: 1px 3px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
}

.__tailor-margin-label--bottom,
.__tailor-margin-label--top {
  left: 50%;
  transform: translateX(-50%);
}

.__tailor-margin-label--top {
  bottom: 100%;
}

.__tailor-margin-label--bottom {
  top: 100%;
}

.__tailor-margin-label--left,
.__tailor-margin-label--right {
  top: 50%;
  transform: translateY(-50%);
}

.__tailor-margin-label--right {
  left: 100%;
}

.__tailor-margin-label--left {
  right: 100%;
}

/* ----- Measures ----- */

.__tailor-to {
  outline: 1px solid var(--tailor-red);
  outline-offset: -1px;
  /* Commented for now */
  /* background-color: var(--tailor-red-50); */
}

.__tailor-ruler {
  display: none;
  position: fixed;
  border: 1px solid var(--tailor-red);
}

.__tailor-ruler div {
  color: white;
  background: var(--tailor-red);
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
}

.__tailor-ruler--x div {
  transform: translate(-50%, -50%);
  left: 50%;
}

.__tailor-ruler--y div {
  transform: translate(-50%, -50%);
  top: 50%;
}

.__tailor-ruler-helper {
  display: none;
  position: fixed;
  border: 1px dotted var(--tailor-red);
}

.__tailor-ruler--x,
.__tailor-ruler-helper--x {
  border-width: 1px 0 0 0;
}

.__tailor-ruler--y,
.__tailor-ruler-helper--y {
  border-width: 0 1px 0 0;
}

/* ----- Panel ----- */

.__tailor-panel {
  position: fixed;
  overflow: hidden;
  top: 10px;
  right: 10px;
  background-color: var(--tailor-black);
  border-radius: 8px;
  padding: 10px;
  color: var(--tailor-white);
  width: 200px;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.__tailor-panel span {
  color: var(--tailor-light-blue);
  font-weight: bold;
}
